<h2>Appointments</h2>
<hr>


<button (click)="true;" [routerLink]="['/appointment-edit']" class="btn btn-primary">Add Appointment</button>

<div *ngIf="appointments; else noAppointment" style="font-size: smaller;">
    <table class='table'>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Descrption</th>
                <th>ObjectId</th>
                <th>ObjectType</th>
                <th>Type</th>
                <th>From</th>
                <th>To</th>
                <!--
     <th>Modified Date</th>
     <th>Created Date</th>
     -->
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let appointment of appointments | orderBy:'objectId'">
                <td>{{ appointment.id }}</td>
                <td>{{ appointment.title }}</td>
                <td>{{ appointment.description }}</td>
                <td>{{ appointment.objectId }}</td>
                <td>{{ appointment.objectType }}</td>
                <td>{{ appointment.type }}</td>
                <td>{{ appointment.fromDate | date: 'M/d/yy h:mm a'  }}</td>
                <td>{{ appointment.toDate | date: 'M/d/yy h:mm a'  }}</td>
                <!--
    <td>{{ appointment.modifiedDate | date: 'M/d/yy h:mm a' }}</td>
    <td>{{ appointment.createdDate | date: 'M/d/yy h:mm a' }}</td>
        -->
                <td>
                    <a [routerLink]="['/appointment-edit', appointment.id]">
                        <span class='glyphicon glyphicon-pencil'></span>
                    </a>
                </td>
                <td>
                    <a (click)="delete(appointment.id)">
                        <span class='glyphicon glyphicon-trash'></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<ng-template #noAppointment><div>Currently there is no appointment.</div></ng-template>


