<h2>User Profile</h2>
<hr>


<div *ngIf="user">
    <div class="form-group">
        <label>
            Id: {{ user.id }}
        </label>
    </div>
    <div class="form-group">
        <label>
            <span class="text-muted">Username</span>
            <input class="form-control" [(ngModel)]="user.userName" placeholder="name" />
        </label>
    </div>
    <div class="form-group">
        <label>
            <span class="text-muted">First Name</span>
            <input class="form-control" [(ngModel)]="user.firstName" placeholder="name" />
        </label>
    </div>
    <div class="form-group">
        <label>
            <span class="text-muted">Last Name</span>
            <input class="form-control" [(ngModel)]="user.lastName" placeholder="name" />
        </label>
    </div>
    <div class="form-group">
        <label>
            <span class="text-muted">Email Address</span>
            <input class="form-control" [(ngModel)]="user.emailAddress" placeholder="name" />
        </label>
    </div>
    <div class="form-group">
        <label>
            <span class="text-muted">Phone Number</span>
            <input class="form-control" [(ngModel)]="user.phoneNumber" placeholder="name" />
        </label>
    </div>

    <div class="form-group">
        <button class="btn btn-primary" (click)="save()">save</button>
    </div>
</div>



