<h1>Job Detail</h1>

    <div *ngIf="job">

        <div>
            <label>
                Id: {{ job.id }}
            </label>
        </div>

        <div class="form-inline">
            <label>
                Title:
                <input class="form-control" [(ngModel)]="job.title" placeholder="name" />
            </label>
        </div>

        <div class="form-inline">
            <label>
                Overall Rate:
                <input class="form-control" [(ngModel)]="job.rate" placeholder="name" />
            </label>
        </div>
        <div class="form-inline">
            <label>
                Company Rate:
                <input class="form-control" [(ngModel)]="job.companyRate" placeholder="name" />
            </label>
        </div>
        <div class="form-inline">
            <label>
                Category:
                <input class="form-control" [(ngModel)]="job.category" placeholder="name" />
            </label>
        </div>
        <div class="form-inline">
            <label>
                Created Date:
                <input class="form-control" [(ngModel)]="job.createdDate" placeholder="name" />
            </label>
        </div>
        <div class="form-inline">
            <label>
                Comment:
                <textarea class="form-control" rows="3" cols="50" [(ngModel)]="job.comment" placeholder="name">
            </textarea>
            </label>
        </div>
        <div class="form-inline">
            <label>
                Description:
                <textarea class="form-control" rows="3" cols="50" [(ngModel)]="job.description" placeholder="name">
            </textarea>
            </label>
        </div>

        <button (click)="save()" class="btn btn-primary" >save</button>
        <button (click)="goBack()" class="btn btn-secondary">cancel</button>
    </div>




